build
coverage
lighthouse
app/static
proxy
reports
tags
tests/system/nightwatch-config.js
tests/system/nightwatch-config_old.js
tests/system/site.js
tests/jest-setup.js
tests/jest-preprocessor.js
app/integration-manager/docs
reports
tests/system/step-definitions/psp-scenario.js
tests/system/step-definitions/delivery-options-scenario.js
tests/system/step-definitions/minibag-scenarios.js
tests/system/step-definitions/my-bag-scenarios.js
tests/system/step-definitions/pdp-scenarios.js
tests/system/step-definitions/payment-page-scenarios.js
tests/system/step-definitions/my-saved-items-scenarios.js
tests/system/step-definitions/common-components-steps.js
tests/system/methods/menuSubMenuValidateAndClick.js
tests/system/page-objects/basket-checkout.js
tests/system/page-objects/payment.js
tests/system/step-definitions/basket-checkout-scenarios.js
tests/system/methods/menuFunctionsBigScreen.js
tests/system/methods/itemValidationInList.js
tests/system/methods/subMenuValidation.js
tests/system/nightwatch-config-Appium_old.js
tests/system/nightwatch-config-MB_old.js