.nyc_output
build.tar

coverage
tests/reports
tests/screenshots
tests/sitespeedio/reports
tests/pa11y/reports
tests/pa11y/screenshots
lighthouse/audit*

app/loader-routes.js
.tern-port
app/integration-manager/docs
messaging/*.csr
reports/*

dev-server/development.pem
development.crt
development.key

storybook-static